2D Project/Logs/Packages-Update.log
2D Project/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
2D Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2D Project/Packages/manifest.json
2D Project/Packages/packages-lock.json
2D Project/ProjectSettings/AudioManager.asset
2D Project/ProjectSettings/ClusterInputManager.asset
2D Project/ProjectSettings/DynamicsManager.asset
2D Project/ProjectSettings/EditorBuildSettings.asset
2D Project/ProjectSettings/EditorSettings.asset
2D Project/ProjectSettings/GraphicsSettings.asset
2D Project/ProjectSettings/InputManager.asset
2D Project/ProjectSettings/NavMeshAreas.asset
2D Project/ProjectSettings/NetworkManager.asset
2D Project/ProjectSettings/Physics2DSettings.asset
2D Project/ProjectSettings/PresetManager.asset
2D Project/ProjectSettings/ProjectSettings.asset
2D Project/ProjectSettings/ProjectVersion.txt
2D Project/ProjectSettings/QualitySettings.asset
2D Project/ProjectSettings/TagManager.asset
2D Project/ProjectSettings/TimeManager.asset
2D Project/ProjectSettings/UnityConnectSettings.asset
2D Project/ProjectSettings/VFXManager.asset
2D Project/ProjectSettings/XRSettings.asset
